body {
  margin: 0px;
}

canvas {
  background-image: url(https://i.ytimg.com/vi/4jHRn4bUnnc/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  margin: 20px;
}

img {
  display: none;
}
